<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div class="sidebar">
        <div class="sidebar_content">
            <h3>Ticket KPDCL</h3>
            <ul class="Nav">
                <li>
                    <i class="fa-solid fa-user"></i>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <i class="fa-sharp fa-solid fa-ticket-simple"></i>
                    <a href="#">Users</a>
                </li>
                <li>
                    <i class="fa-light fa-user-group"></i>
                    <a href="#">Workgroups</a>
                </li>
                <li>
                    <i class="fa-light fa-gear"></i>
                    <a href="#">Site Settings</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="content">
        <div class="header">
            <h4>Welcome! Mark Zuckerberg</h4>
            <button class="admin-button">ADMIN</button>
        </div>


        <!-- "Tickets" on the right side of the sidebar and below the header -->
        <div class="tickets">Tickets</div>
        <div class="content_main">
            <div class="Main_content-card">
                <div class="card-container" id="cardContainer">
                    <div class="card-container-header">
                        <div class="search-container">
                            <input type="text" class="search-input" placeholder="Search...">
                            <button class="search-button">Search</button>
                        </div>
                       <div class="card-container-header_dropdown">
                        <div class="dropdown">
                            <button>Select Priority <i class="fa-solid fa-caret-down"></i></button>
                          
                            <div class="dropdown-options">
                              <div class="Blank"></div>
                              <a href="#">Dashboard</a>
                              <a href="#">Setting</a>
                              <a href="#">Logout</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button>Select Status <i class="fa-solid fa-caret-down"></i></button>
                          
                            <div class="dropdown-options">
                              <div class="Blank"></div>
                              <a href="#">Dashboard</a>
                              <a href="#">Setting</a>
                              <a href="#">Logout</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button>This Week <i class="fa-solid fa-caret-down"></i></button>
                          
                            <div class="dropdown-options">
                              <div class="Blank"></div>
                              <a href="#">Dashboard</a>
                              <a href="#">Setting</a>
                              <a href="#">Logout</a>
                            </div>
                        </div>
                       </div>
                       <button class="admin-button"><i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i> New Ticket</button>
                        
                    </div>
                   
                </div>

            </div>
        </div>

    </div>
</body>

</html>